<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Shrey Sharma/IdeaProjects/RestAssured/src/test/java/api/test/incidence/LoginTests.java">
        <classes>
            <class name="api.test.incidence.LoginTests">
                <methods>
                    <include name="testLoginIT"/>
                    <include name="testLoginDr"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>