<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="OzonetelSuite">
        <classes>
<!--            <class name="ozonetel.GetAllOzonetelAccTests"/>-->
<!--            <class name="ozonetel.GetOzonetelAccTests"/>-->
<!--            <class name="ozonetel.GetOzonetelCampaignsTests"/>-->
<!--            <class name="ozonetel.UserCompanyTests"/>-->
            <class name="ozonetel.GetCallCenterByCompanyTests"/>
        </classes>
    </test>
</suite>