<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.reporting.Setup"/>
    </listeners>
    <test preserve-order="true"
          name="AssureSuite">
        <classes>
            <!--            <class name="winchcamp.CameraDetailsByGuidTests"></class>-->
            <!--            <class name="winchcamp.AllCameraConfigsTests"></class>-->
            <!--            <class name="winchcamp.MonitoringAreasListByFacIdTests"></class>-->
            <!--            <class name="winchcamp.ManualOverrideTests"></class>-->
            <!--            <class name="winchcamp.GetCameraConfigsByConfigIdTests"></class>-->
            <!--            <class name="winchcamp.FacilityDetailsByGuidTests"></class>-->
            <!--            <class name="winchcamp.EventsByFiltersTests"></class>-->
            <!--            <class name="winchcamp.SaveEventsTests"></class>-->
            <!--            <class name="winchcamp.EventListWithFiltersTests"></class>-->
            <!--            <class name="winchcamp.SaveCameraConfigsTests"></class>-->
            <!--            <class name="winchcamp.GetAllTenantCameraConfigTests"></class>-->
            <!--            <class name="winchcamp.GetZonesByRegionTests"></class>-->
            <!--            <class name="winchcamp.CreateCameraTests"></class>-->
            <!--            <class name="winchcamp.GetAllCameraTests"></class>-->
            <!--            <class name="winchcamp.ActivateCameraTests"></class>-->
            <!--            <class name="winchcamp.DeactivateCameraTests"></class>-->
            <!--            <class name="winchcamp.FetchAllAreaTests"></class>-->
            <!--            <class name="winchcamp.EditMasterCameraTests"></class>-->
            <class name="winchcamp.GetFacilitiesByZoneAndRegionTests">
<!--                <methods>-->
<!--                    <include name="positiveCase"></include>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>